<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>保单查询</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link
      rel="stylesheet"
      href="../../layuiadmin/layui/css/layui.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="../../layuiadmin/style/admin.css"
      media="all"
    />
  </head>
  <body>
    <div class="layui-fluid">
      <div class="layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">保单查询</div>
          <div class="layui-card-body" style="padding: 15px;">
            <form
              class="layui-form"
              action="https://localhost:3000/checkOrder"
              method="POST"
              lay-filter="component-form-group"
            >
              <div class="layui-form-item">
                <div class="layui-col-lg6">
                  <label class="layui-form-label">保单号</label>
                  <div class="layui-input-block">
                    <input
                      type="text"
                      name="ordernumber"
                      autocomplete="off"
                      placeholder="请输入保单号"
                      class="layui-input"
                    />
                  </div>
                </div>
                <div class="layui-col-lg6">
                  <label class="layui-form-label">出单日期</label>
                  <div class="layui-input-inline">
                    <input
                      type="text"
                      name="date"
                      class="layui-input"
                      id="test6"
                      placeholder=" - "
                    />
                  </div>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-col-lg6">
                  <label class="layui-form-label">保单印刷号</label>
                  <div class="layui-input-block">
                    <input
                      type="text"
                      name="orderprintnumber"
                      autocomplete="off"
                      placeholder="请输入保单印刷号"
                      class="layui-input"
                    />
                  </div>
                </div>
                <div class="layui-col-lg6">
                  <div class="layui-inline">
                    <label class="layui-form-label">归属部门</label>
                    <div class="layui-input-inline">
                      <select
                        name="attributiondepartment"
                        lay-verify="required"
                        lay-search=""
                      >
                        <option value="">直接选择或搜索选择</option>
                        <option value="44018447">44018447</option>
                        <option value="44018420">44018420</option>
                        <option value="44018446">44018446</option>
                        <option value="44018403">44018403</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-col-lg6">
                  <label class="layui-form-label">经办人</label>
                  <div class="layui-input-block" style="width:40%">
                    <input
                      type="text"
                      name="charge"
                      autocomplete="off"
                      placeholder="请输入经办人"
                      class="layui-input"
                    />
                  </div>
                </div>
                <div class="layui-col-lg6">
                  <label class="layui-form-label">出单员</label>
                  <div class="layui-input-block" style="width:40%">
                    <input
                      type="text"
                      name="dispatchclerk"
                      autocomplete="off"
                      placeholder="请输入出单员"
                      class="layui-input"
                    />
                  </div>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-col-lg6">
                  <label class="layui-form-label">被保险人</label>
                  <div class="layui-input-block" style="width:40%">
                    <input
                      type="text"
                      name="insured"
                      autocomplete="off"
                      placeholder="请输入经办人"
                      class="layui-input"
                    />
                  </div>
                </div>
                <div class="layui-col-lg6">
                  <label class="layui-form-label">投保人</label>
                  <div class="layui-input-block" style="width:40%">
                    <input
                      type="text"
                      name="applicant"
                      autocomplete="off"
                      placeholder="请输入出单员"
                      class="layui-input"
                    />
                  </div>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-col-lg6">
                  <label class="layui-form-label">投保单签章</label>
                  <div class="layui-input-block">
                    <input
                      type="radio"
                      name="ordersignature"
                      value="欠缺"
                      title="欠投保资料"
                      checked=""
                    />
                    <input
                      type="radio"
                      name="ordersignature"
                      value="不欠缺"
                      title="不欠投保资料"
                    />
                  </div>
                </div>
                <div class="layui-col-lg6">
                  <label class="layui-form-label">保单类型</label>
                  <div class="layui-input-block">
                    <input
                      type="radio"
                      name="ordertype"
                      value="车险"
                      title="车险"
                      checked=""
                    />
                    <input
                      type="radio"
                      name="ordertype"
                      value="非车险"
                      title="非车险"
                    />
                  </div>
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 300px;">
                  <button
                    class="layui-btn"
                    type="submit"
                    lay-filter="component-form-element"
                  >
                    立即提交
                  </button>
                  <button type="reset" class="layui-btn layui-btn-primary">
                    重置
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="../../layuiadmin/layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../layuiadmin/' //静态资源所在路径
        })
        .extend({
          index: 'lib/index' //主入口模块
        })
        .use(['index', 'form', 'laydate'], function() {
          var $ = layui.$,
            admin = layui.admin,
            element = layui.element,
            layer = layui.layer,
            laydate = layui.laydate,
            form = layui.form

          //日期范围
          laydate.render({
            elem: '#test6',
            range: true
          })

          form.render(null, 'component-form-group')

          laydate.render({
            elem: '#LAY-component-form-group-date'
          })

          /* 监听提交 */
          form.on('submit(component-form-demo1)', function(data) {
            parent.layer.alert(JSON.stringify(data.field), {
              title: '最终的提交信息'
            })
            return false
          })
        })
    </script>
  </body>
</html>
