<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>表单组合</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                <div class="layui-card-header">通过填写信息新建非车险保单</div>
                    <div class="layui-card-body" style="padding: 15px;">
                        <form class="layui-form" id="NoVehicleFormPost">
                            <div class="layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">保单号</label>
                                    <div class="layui-input-block" >
                                        <input type="text" name="ordernumber" autocomplete="off" placeholder="请输入保单号" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-col-lg6">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">出单日期</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="date" id="LAY-component-form-group-date" lay-verify="date" placeholder="年-月-日" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">保单印刷号</label>
                                    <div class="layui-input-block" >
                                        <input type="text" name="orderprintnumber" autocomplete="off" placeholder="请输入保单印刷号" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-col-lg6">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">归属部门</label>
                                        <div class="layui-input-inline">
                                            <select name="attributiondepartment" lay-verify="required" lay-search="">
                                            <option value="">直接选择或搜索选择</option>
                                            <option value="44018447">44018447</option>
                                            <option value="44018420">44018420</option>
                                            <option value="44018446">44018446</option>
                                            <option value="44018403">44018403</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">经办人</label>
                                    <div class="layui-input-block" style="width:40%">
                                        <input type="text" name="charge" autocomplete="off" placeholder="请输入经办人" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">出单员</label>
                                    <div class="layui-input-block" style="width:40%">
                                        <input type="text" name="dispatchclerk" autocomplete="off" placeholder="请输入出单员" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">投保人</label>
                                    <div class="layui-input-block" style="width:40%">
                                        <input type="text" name="applicant" autocomplete="off" placeholder="请输入被投保人" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">投保单签章</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="open" lay-skin="switch" lay-text="欠缺|不欠缺">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block" style="margin-left: 300px;">
                                    <button type="button" id="btn" class="layui-btn" lay-filter="component-form-element">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                <div class="layui-card-header">通过EXCEL导入新建非车险保单</div>
                <div class="layui-card-body" style="padding: 15px;">
                    <form class="layui-form" lay-filter="component-form-group" action="http://localhost:3000/uploadNoVehicle" method="POST" enctype="multipart/form-data">
                        <div class="layui-form-item">
                            <div class="layui-upload">
                                <input type="file" name="excel" id="file" />
                                <button id="submit">点击上传</button>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $("#btn").click(function () {
            $.ajax({  
                data:$('#NoVehicleFormPost').serialize(),
                type: "POST",   //提交的方法
                url:"http://localhost:3000/newNoVehicleOrder", //提交的地址  
                async: false,  
                error: function(request) {  //失败的话
                    alert("连接错误");  
                },  
                success: function(data) {  //成功
                    alert(data);  //就将返回的数据显示出来
                }  
            });
        }); 
    </script>
    <script src="../../layui/layui.js"></script>  
    <script>
    layui.config({
        base: '../../layui/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate','upload'], function(){
        var $ = layui.$
        ,admin = layui.admin
        ,element = layui.element
        ,layer = layui.layer
        ,laydate = layui.laydate
        ,form = layui.form
        ,upload = layui.upload;
        
        //日期范围
        laydate.render({
            elem: '#test6'
            ,range: true
        });

        //指定允许上传的文件类型
        upload.render({
            elem: '#test-upload-type1'
            ,url: '/upload/'
            ,accept: 'file' //普通文件
            ,done: function(res){
                console.log(res)
            }
        });

        //多文件列表示例
        var demoListView = $('#demoList')
        ,uploadListIns = upload.render({
            elem: '#testList'
            ,url: 'https://localhost:3000/upload/'
            ,accept: 'file'
            ,multiple: true
            ,auto: false
            ,bindAction: '#testListAction'
            ,choose: function(obj){   
            var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
            //读取本地文件
            obj.preview(function(index, file, result){
                var tr = $(['<tr id="upload-'+ index +'">'
                ,'<td>'+ file.name +'</td>'
                ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                ,'<td>等待上传</td>'
                ,'<td>'
                ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                ,'</td>'
                ,'</tr>'].join(''));
                
                //单个重传
                tr.find('.demo-reload').on('click', function(){
                obj.upload(index, file);
                });
                
                //删除
                tr.find('.demo-delete').on('click', function(){
                delete files[index]; //删除对应的文件
                tr.remove();
                uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                });
                
                demoListView.append(tr);
            });
            }
            ,done: function(res, index, upload){
            if(res.code == 0){ //上传成功
                var tr = demoListView.find('tr#upload-'+ index)
                ,tds = tr.children();
                tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                tds.eq(3).html(''); //清空操作
                return delete this.files[index]; //删除文件队列已经上传成功的文件
            }
            this.error(index, upload);
            }
            ,error: function(index, upload){
            var tr = demoListView.find('tr#upload-'+ index)
            ,tds = tr.children();
            tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
            tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

        form.render(null, 'component-form-group');

        laydate.render({
        elem: '#LAY-component-form-group-date'
        });
        
        /* 自定义验证规则 */
        form.verify({
        title: function(value){
            if(value.length < 5){
            return '标题至少得5个字符啊';
            }
        }
        ,pass: [/(.+){6,12}$/, '密码必须6到12位']
        ,content: function(value){
            layedit.sync(editIndex);
        }
        });
        
    });
    </script>
</body>
</html>
