<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
  <!-- 引入 ECharts 文件 -->
  <script src="../echarts.min.js"></script>
</head>
  <body>
    <div class="layui-fluid">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6 layui-col-md4">
          <div class="layui-card">
            <div class="layui-card-header">
              车商部保单量
              <span class="layui-badge layui-bg-blue layuiadmin-badge">车商部</span>
            </div>
            <div class="layui-card-body layuiadmin-card-list">
              <!-- 已绑定数据库的保单总量 -->
              <p class="layuiadmin-big-font" id="sum_count">100</p>
              <p>
                总计
                <span class="layuiadmin-span-color"> <i class="layui-inline layui-icon layui-icon-flag"></i></span>
              </p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md4">
          <div class="layui-card">
            <div class="layui-card-header">
              车商部欠投保资料保单
              <span class="layui-badge layui-bg-orange layuiadmin-badge">车商部</span>
            </div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" id="sum_lackcount">100</p>
              <p>
                欠投保资料总计
                <span class="layuiadmin-span-color">10% <i class="layui-inline layui-icon layui-icon-face-cry"></i></span>
              </p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6 layui-col-md4">
          <div class="layui-card">
            <div class="layui-card-header">
              车商部不欠投保资料保单
              <span class="layui-badge layui-bg-orange layuiadmin-badge">车商部</span>
            </div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" id="sum_nolackcount">100</p>
              <p>
                不欠投保资料总计
                <span class="layuiadmin-span-color">20% <i class="layui-inline layui-icon layui-icon-face-smile"></i></span>
              </p>
            </div>
          </div>
        </div>
        <div class="layui-col-sm12">
          <div class="layui-card">
            <div class="layui-card-body">
              <div class="layui-row">
                <div class="layui-col-sm8">
                  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                  <div id="main" style="width: 1600px ; height:500px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
<script src="../layuiadmin/layui/layui.js"></script>

<script>
layui.use(['element', 'layer'], function(){
  var element = layui.element;
  var layer = layui.layer;
});
</script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
  $.ajax({
    async: false,  
    type: 'post',
    url: "https://localhost:3000/getConsoleChartData",
    success: function (data){
      // console.log(data.data)
      const lackdata = data.lackdata
      const nolackdata = data.nolackdata
      // console.log(lackdata)
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));
      option = {
          // 标题
          title: {
              text: '保单量变化趋势', // 标题名称
          },
          // x轴
          xAxis: {
              data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'], // x轴坐标名称
          },
          // y轴
          yAxis: {},
          // 提示框，鼠标悬浮交互时的信息提示
          tooltip: {
              show: true, // 是否显示
              trigger: 'axis', // 触发类型，默认数据触发，见下图，可选为：'item' | 'axis'
          },
          legend: {
              data: ['欠投保资料保单', '不欠投保资料保单']
          },
          // 指定图标的类型
          series: [
              // 第一条折线图
              {
                  name: '欠投保资料保单', // 系列名称
                  type: 'line', // 类型：线
                  data: lackdata, // 数据
                  markPoint: {
                      // 标注图形数据
                      data: [{
                              type: 'max', // 类型
                              symbol: 'pin', // 标志图形类型，默认自动选择（8种类型循环使用，不显示标志图形可设为'none'），默认循环选择类型有：'circle' | 'rectangle' | 'triangle' | 'diamond' |'emptyCircle' | 'emptyRectangle' | 'emptyTriangle' | 'emptyDiamond' 另外，还支持五种更特别的标志图形'heart'（心形）、'droplet'（水滴）、'pin'（标注）、'arrow'（箭头）和'star'（五角星），这并不出现在常规的8类图形中，但无论是在系列级还是数据级上你都可以指定使用，同时，'star' + n（n>=3)可变化出N角星，如指定为'star6'则可以显示6角星 
                              name: '最大值'
                          },
                          {
                              type: 'min', // 类型
                              symbol: 'pin',
                              name: '最小值'
                          },
                      ],
                      // 特殊标注文字
                      label: {
                          normal: {
                              show: true,
                              //position: 'top', // 文字位置
                              // 显示的文字
                              formatter: '{b}：{c}',
                          }
                      },
                      // 触发操作
                      tooltip: {
                          show: true, // 是否显示
                          formatter: '{b}：{c}', // 内容格式器 a（系列名称），b（类目值），c（数值）, d（无）
                          trigger: 'item', // 触发类型，默认数据触发，见下图，可选为：'item' | 'axis'
                      },
                  },
                  markLine: {
                      data: [{
                          type: 'average',
                          name: '平均值',
                          itemStyle: {
                              normal: {
                                  color: 'orange'
                              }
                          }
                      }]
                  },
                  // 折线图圆点
                  label: {
                      normal: {
                          show: true,
                          //position: 'bottom', // 文字位置
                          // 显示的文字
                          formatter: '{c}',
                          textStyle: {
                              color: '#000' // 文字颜色
                          }
                      }
                  },
              },
              // 第二条折线图
              {
                  name: '不欠投保资料保单', // 系列名称
                  type: 'line', // 类型：线
                  data: nolackdata, // 数据
                  markPoint: {
                      // 标注图形数据
                      data: [{
                              type: 'max', // 类型
                              symbol: 'circle', // 标志图形类型，默认自动选择（8种类型循环使用，不显示标志图形可设为'none'），默认循环选择类型有：'circle' | 'rectangle' | 'triangle' | 'diamond' |'emptyCircle' | 'emptyRectangle' | 'emptyTriangle' | 'emptyDiamond' 另外，还支持五种更特别的标志图形'heart'（心形）、'droplet'（水滴）、'pin'（标注）、'arrow'（箭头）和'star'（五角星），这并不出现在常规的8类图形中，但无论是在系列级还是数据级上你都可以指定使用，同时，'star' + n（n>=3)可变化出N角星，如指定为'star6'则可以显示6角星 
                              name: '最大值'
                          },
                          {
                              type: 'min', // 类型
                              symbol: 'circle',
                              name: '最小值'
                          },
                      ],
                      // 特殊标注文字
                      label: {
                          normal: {
                              show: true,
                              //position: 'top', // 文字位置
                              // 显示的文字
                              formatter: '{b}：{c}',
                          }
                      },
                      // 触发操作
                      tooltip: {
                          show: true, // 是否显示
                          formatter: '{b}：{c}', // 内容格式器 a（系列名称），b（类目值），c（数值）, d（无）
                          trigger: 'item', // 触发类型，默认数据触发，见下图，可选为：'item' | 'axis'
                      },
                  },
                  markLine: {
                      data: [{
                          type: 'average',
                          name: '平均值',
                          itemStyle: {
                              normal: {
                                  color: 'green'
                              }
                          }
                      }]
                  },
                  // 折线图圆点
                  label: {
                      normal: {
                          show: true,
                          //position: 'bottom', // 文字位置
                          // 显示的文字
                          formatter: '{c}',
                          textStyle: {
                              color: '#000' // 文字颜色
                          }
                      }
                  },
              }
          ]
      };
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    }
  });
</script>
</body>
</html>